@model IEnumerable<WebMvc.Models.EntryViewModel>
@{
    ViewData["Title"] = "Entry List";
}
<h2>Entry List</h2>
<a asp-action="HomeView">Back to List</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftBehind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Boarded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeftBehind)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
                <td>
                    <form asp-action="EntryDelete" asp-route-id="@item.Id" method="post" style="display:inline">
                        <button type="submit" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete this?');">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
